$colorPrimal: #0277bd;

.price{
    font-size: 1.8rem;
}

.card-action.actions{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-primary{
        background-color: $colorPrimal !important;
    }
}